body{
    background-color: black;
    overflow: hidden;
    height: 100%;
    


}
.img{
    margin-top: 30px;
}
h1 , p , ul{
    color: aliceblue;
}
.lahbiba{
     width: 50px;
  height: 50px;
  
}
div{
    background-color: rgba(46, 43, 43, 0.775);
    text-align: center ;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    border-radius: 10px;
    padding-bottom: 10px;
    
    
}
img{
    width: 150px;
  height: 150px;
  border-radius: 50%;
}
h5{
    color: yellow;
}
div>.items{
    background-color: rgba(46, 43, 43, 0.529);
    margin-left: 20px;
    margin-right: 20px;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
    
    
}
#c{
    margin-bottom: 20px;
}
a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}